{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
  <br>
  <br>
  <br>
  <br>
  <div class="jumbotron">
  <h1> About Pokemon Dungeon </h1>
  <hr class="divider">
  <br>

  <p> _Pokemon Dungeon_ is a gaming website that is, as the name implies it, the classic pokemon game with the weather affecting the wild pokemon that appear. There will also be (hopefully) item drops, pokemon trainers to battle, a gym leader, and even a tomagatchi mode. The tomagatchi mode will allow users to take another path to raising the level of their pokemon by taking care of them and feeding them. The site uses each user's IP address (after given permission, of course) to find the weather data of their location using the IP API and Darksky API. The Ipify API is used to procure the client's IP address. </p>

  <hr class="divider">

  <h3> Basic Controls </h3>
  <p> Use the WASD keys as the movement keys! </p>
  <img src ="https://www.chargrilled.co.uk/t-shirts/prodimages/staticimages/square/m0wasdlearningtowalk_m_White.jpg" class="center" height="200" width="200">
  <br>
  <p> Move around and walk in grass to encounter pokemon. Once you encounter a pokemon, you can choose to battle, use a item, capture the pokemon, or run
    <br>
    <b>MAKE SURE YOU RUN IF THE OPPOSING POKEMON IS TOO STRONG!!!</b>
    <br>
    Tip: Lower the opposing opponent's health for the catch rate to be higher
    Tip: If your health is going low either: use a potion or head to the pokecenter
    <br>
    To enter the pokecenter simply walk through the center of the doorway and you will be brought inside to heal your pokemon.
  </p>

  <hr class="divider">

  <h3> Extra Features </h3>
  <p> Click the weather button on the navbar. It will show you your physical location and the basic weather at your location. Based on your precipitation--
    rain or snow-- the chances of rain and ice pokemon will be increased 3 fold. It only works on the about page, map, and home page.</p>

  <hr class="divider">

  <h3> For more info on how to set up</h3>
  <p> visit this <a href="https://github.com/alexliu4">link</a> and check our README!!</p>

  </div>


  <br>

<hr class="divider">

<footer class="footer">
    <div class="container center">
        <span class="text-muted">Pokemon Dungeon© <br> Alex Liu, Karen Li, Imad Belkebir, Jason Lin</span>
    </div>
</footer>
{% endblock %}

{% block body %}
<!-- The weather card -->
  <div class="card text-white bg-dark mb-3 center weatherBox">
    <!-- Displays location of the user -->
    <div class="card-header" align="center">{{session['location']}}</div>
    <div class="row">
      <div class="col-lg-6">
        <div class="center" align="center">
          <img class="card-img-top" id="weatherPreviewImage" src="{{data['weather-icon']}}" alt="Image missing">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-body">
          <!-- Allows switching between celsius and fahrenheit for temperature using bootstrap's collapse-->
          <div class="weatherResult">
            <p> Expect {{current['type']}} <br>
              {{current['result']}}
            </p>

            <!-- <h5 class="card-title collapse show" id="temperature">
              {{session['temp-f']}}F |
              <a href="#temperature" data-toggle="collapse"> °C </a>
            </h5>
            <h5 class="card-title collapse" id="temperature">
              {{session['temp-c']}}C |
              <a href="#temperature" data-toggle="collapse"> °F </a>
            </h5> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Shows summary of the weather for the day -->
    <p class="card-text" align="center" id="bottomCardText">Forecast: {{data['weather-summary']}}</p>
  </div>
{% endblock %}
