<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
  <style>
  table {
    width: 300px;
  }
  td {
    text-align: center;
  }
  </style>

  <title>Battle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <p id="pkmn_health" style="margin-top: 13%; margin-left: 60%;"></p>
  <img src=" {{ user_pkmn }} " height="200" width = "200" id="pokemon1">
  <img src=" {{ wild_pkmn }}" height="200" width = "200" id="pokemon2">
  <p id="user_health" style="margin-top: 8%; margin-left: 35%;"></p>

  <div class="panel panel-default" style="margin-top: 10%; margin-right: 20%; margin-left: 20%;">
    <table class="table table-responsive">
      <tbody id="table">
        <tr>
          <td id="tl">Fight</td>
          <td id="tr">Bag</td>
        </tr>
        <tr>
          <td id="bl">Pokemon</td>
          <td id="br">Run</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p id=move align="center"></p>
  <p hidden id="data">{{ data|tojson }}</p>
  <script src="../static/battle.js"></script>

</body>
</html>
