<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
  <style>
  table {
    width: 300px;
  }
  td {
    text-align: center;
  }
  </style>

  <title>Battle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <img src="../static/pikachu.jpg" height="100" width = "200" id="pokemon1">
  <img src="../static/pikachu.jpg" height="100" width = "200" id="pokemon2">

  <div class="panel panel-default" style="margin-top: 40%; margin-right: 20%; margin-left: 20%;">
    <table class="table table-responsive">
      <tbody>
        <tr>
          <td>Fight</td>
          <td>Bag</td>
        </tr>
        <tr>
          <td>Pokemon</td>
          <td>Run</td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="../static/battle.js"></script>

</body>
</html>
