<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
  <style>
  table {
    width: 300px;
  }
  td {
    text-align: center;
  }
  </style>

  <title>Battle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <p id="pkmn_health" style="margin-top: 13%; margin-left: 60%;"></p>
  <img src=" {{ user_pkmn }} " height="200" width = "200" id="pokemon1">
  <img src=" {{ wild_pkmn }}" height="200" width = "200" id="pokemon2">
  <p id="user_health" style="margin-top: 8%; margin-left: 35%;"></p>

  <div class="panel panel-default" style="margin-top: 10%; margin-right: 20%; margin-left: 20%;">
    <table class="table table-responsive">
      <tbody id="table">
        <tr>
          <td id="tl">Fight</td>
          <td id="tr">Bag</td>
        </tr>
        <tr>
          <td id="bl">Pokemon</td>
          <td id="br">Run</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p id=move align="center"></p>
  <p hidden id="data">{{ data|tojson }}</p>
  <p hidden id="items">{{ items|tojson }}</p>
  <script src="../static/battle.js"></script>

</body>
</html>

{% block body %}
<!-- The weather card -->
  <div class="card text-white bg-dark mb-3 center weatherBox">
    <!-- Displays location of the user -->
    <div class="card-header">{{session['location']}}</div>
    <div class="row">
      <div class="col-lg-6">
        <div class="center">
          <img class="card-img-top" id="weatherPreviewImage" src="{{data['weather-icon']}}" alt="Image missing">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-body">
          <!-- Allows switching between celsius and fahrenheit for temperature using bootstrap's collapse-->
          <!-- <div class="weatherTemp">
            <h5 class="card-title collapse show" id="temperature">
              {{session['temp-f']}}F |
              <a href="#temperature" data-toggle="collapse"> °C </a>
            </h5>
            <h5 class="card-title collapse" id="temperature">
              {{session['temp-c']}}C |
              <a href="#temperature" data-toggle="collapse"> °F </a>
            </h5>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Shows summary of the weather for the day -->
    <p class="card-text" id="bottomCardText">{{data['weather-summary']}}</p>
  </div>
{% endblock %}
