{% extends "base.html" %}

{% block title %}
Poke Center
{% endblock %}


{% block content %}
<div class="container-fluid" style="padding-top:100px; background-color:#C9E2E7;">
    {% for pokemon in list %}
    <div class="row">
        <div class="col-sm-12">
            <img src="{{pokemon['image']}}" alt="{{pokemon['name']}}" style="width: 300px;height: 300px; float:left;" >
            <p style="margin-top: 30px;font-family:monospace;font-weight: bold;font-size: 30px;">
                LVL: {{pokemon["level"]}} | {{pokemon["name"]}} |
                {% for type in pokemon["type"] %}
                {{type}}
                {% endfor %}
            </p>
            <div class="progress" style="height:25px;">
                <div class="progress-bar" role="progressbar" style="width: {{pokemon['percent']}}%;font-family:monospace;font-weight: bold;font-size: 20px;font-color:black" aria-valuenow="{{pokemon['health']}}" aria-valuemin="0" aria-valuemax="{{pokemon['max_health']}}">
                    {{pokemon['health']}}/{{pokemon['max_health']}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <center>
        <form action="/healall">
            <input class="btn btn-primary" style="margin:center;" type="submit" name="heal" value="Heal All Pokemon">
        </form>
    </center>
</div>
{% endblock %}
