{% extends "base.html" %}

{% block head %}
<title>
    Poke Center
</title>
<style>
    p:{

    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top:100px">
    {% for pokemon in list %}
    <div class="row">
        <div class="col-sm-12">
            <img src="{{pokemon['image']}}" alt="{{pokemon['name']}}" style="width: 300px;height: 300px; float:left;" >
            <p style="margin-top: 30px;font-family:monospace;font-weight: bold;font-size: 30px;">{{pokemon["name"]}}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{pokemon['percent']}}%;font-family:monospace;font-weight: bold;font-size: 30px;" aria-valuenow="{{pokemon['health']}}" aria-valuemin="0" aria-valuemax="{{pokemon['max_health']}}">
                    {{pokemon['health']}}/{{pokemon['max_health']}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
