{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}


<br>

<hr class="divider">

<footer class="footer">
    <div class="container center">
        <span class="text-muted">Weather powered by <a href="https://darksky.net/dev">Dark Sky</a>, news powered by <a href="https://developer.nytimes.com/">New York Times</a>, and comic powered by <a href="https://xkcd.com/json.html">xkcd</a>.</span>
    </div>
</footer>
{% endblock %}
