{% extends "base.html" %}

{% block title %}
Starter Pokemon
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h1 class="text-center"> Choose your starter Pokemon </h1>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm">     
      <div class="alert alert-success text-center">
	<input type="image" src={{bulbasaur}} class="img-rounded" value="bulbasaur" alt="bulbasaur" width="100%">
	<br>
	<h4>Bulbasaur</h4>
      </div>
    </div>
    <div class="col-sm">
      <div class="alert alert-danger text-center">
	<input type="image" src={{charmander}} class="img-rounded" value="charmander" alt="charmander" width="100%">
	<br>
	<h4>Charmander</h4>
      </div>
    </div>
    <div class="col-sm">
      <div class="alert alert-info text-center">
	<input type="image" src={{squirtle}} class="img-rounded" value="squirtle" alt="squirtle" width="100%">
	<br>
	<h4>Squirtle</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
