{% extends "base.html" %}

{% block title %}
Starter Pokemon
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<br><br><br><br>
<h1 class="text-center" style="color:white"> Choose your starter Pokemon </h1>
<br>

<div class="container">
  <form action="/start">
    <div class="row">
      <div class="col-sm">
	<div class="alert alert-success text-center">
	  <button type="submit" class="btn btn-outline-success btn-block btn-lg" name="starter" value="Bulbasaur">
	    <img src={{bulbasaur}} class="image-rounded" alt="bulbasaur" width="100%">
	      <br>
	      <h4>Bulbasaur</h4>
	  </button>
	</div>
      </div>
      <div class="col-sm">
	<div class="alert alert-danger text-center">
	  <button type="submit" class="btn btn-outline-danger btn-block btn-lg" name="starter" value="Charmander">
	    <img src={{charmander}} class="image-rounded" alt="charmander" width="100%">
	      <br>
	      <h4>Charmander</h4>
	  </button>
	</div>
      </div>
      <div class="col-sm">
	<div class="alert alert-info text-center">
	  <button type="submit" class="btn btn-outline-info btn-block btn-lg" name="starter" value="Squirtle">
	    <img src={{squirtle}} class="image-rounded" alt="squirtle" width="100%">
	      <br>
	      <h4>Squirtle</h4>
	  </button>
	</div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
